[Unit]
Description=Hrs Rust Application
After=network.target

[Service]
Type=simple
ExecStart=/home/projects/hrs_server/target/release/hrs_server
WorkingDirectory=/home/projects/hrs_server
User=root
Group=root
Restart=on-failure
Environment="ENV_TYPE=prod" "VAR2=value2"

[Install]
WantedBy=multi-user.target
